<footer class="p-5">
    <h3 class="text-white text-center">ALCOHOLICOS ANONIMOS</h3>
    <h4 class="text-white text-center">Madrid, Toledo, Guadalajara y Ciudad Real</h4>
    <h1 class="text-white text-center"><i class="fa fa-phone"></i> 913 418 282</h1>
    <h4 class="text-center m-3"><a href="mailto:ocs@area07aa.org" class="text-white">ocs@area07aa.org</a></h4>
    <div style="width: 300px;margin: auto">
        <div class="social" style="display:flex; justify-content: space-around; align-item:center;">
            <div class="cajas"><a href="" class=""><img src="{{ asset('img/logoentero.png') }}" width="35" alt=""></a></div>
            <div class="cajas"><a href="" class=""><i class="fa fa-facebook fa-2x text-white"></i></a></div>
            <div class="cajas"><a href="" class=""><i class="fa fa-instagram fa-2x text-white"></i></a></div>
            <div class="cajas"><a href="" class=""><i class="fa fa-youtube fa-2x text-white"></i></a></div>
        </div>
    </div>

</footer>