<header>
  <nav id="navbar">
    <ul>
      <li><a href="#banner" class="nav-item">Inicio</a></li>
      <li><a href="#se_info" class="nav-item">Información</a></li>
      <li><a href="#se_reuniones" class="nav-item">Reuniónes</a></li>
    </ul>
    <img src="{{ asset('img/logo1.png') }}" alt="logo" class="logo">
    <ul>
      <li><a href="#se_contacto" class="nav-item">Contacto</a></li>
      <li><a href="" class="nav-item">Speak english</a></li>
      <li><a href="" class="nav-item text-secondary">admin</a></li>
    </ul>
  </nav>
</header>